/*
 * Base styles
 */

* {
    box-sizing: border-box;
}

html {
    position: relative;
    overflow-x: hidden;

    font-size: 10px;

    &::before,
    &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 60vh 60vh 0 0;
        border-color: $secondary transparent transparent transparent;

        @media (min-width: 800px) {
            border-width: 40vw 70vw 0 0;
        }
    }

    &::after {
        position: absolute;
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
        z-index: 0;

        background: transparent;

        border-width: 0 0 60vh 60vh;
        border-color: transparent transparent $primary transparent;

        @media (min-width: 800px) {
            border-width: 0 0 40vw 70vw;
        }
    }
}

.container {
    animation-duration: 0.4s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInDown;

    position: relative;
    z-index: 1;

    width: 100%;
    max-width: 80rem;
    padding: 4rem 0 4rem 0;
    margin: 0 auto;

    @media (min-width: 800px) {
        padding: 4rem 27rem 4rem 0;
    }
}

section {
    padding: 3rem 2rem 4rem 2rem;
    margin: 0 0 6rem 0;

    background: $white;

    &:last-of-type {
        padding: 0 2rem;
    }

    @media (min-width: 800px) {
        padding: 3rem 0 4rem 2rem;

        &:last-of-type {
            padding: 0 0 0 2rem;
        }
    }
}
