/*
 * About me component
 */

.me {
    position: relative;

    margin: 0 0 4rem 0;

    &__image {
        width: 100%;

        box-shadow: 0 0 1rem 0 rgba($black, .5);
    }

    &__name {
        position: absolute;
        bottom: 0;
        left: 2rem;

        width: 16rem;

        font-size: 4.8rem;
        font-weight: bold;
        color: $secondary;

        &::after {
            content: "";

            position: absolute;
            bottom: -2rem;
            left: 0;

            width: 26rem;
            height: 1rem;

            background: $primary;
        }

        @media (min-width: 800px) {
            bottom: 20%;
            left: auto;
            right: -20rem;

            &::after {
                left: auto;
                right: 0;
            }
        }
    }
}
