/*
 * Typography variables
 */

$font-family: Helvetica, Arial, "sans-serif";
$font-size: 1.8rem;

/*
 * Base font
 */
body,
p {
    font-family: $font-family;
    font-size: $font-size;
    color: $primary;
}

/*
 * Anchors
 */
a {
    text-decoration: none;
}

/*
 * Headings
 */
h1,
h2 {
    position: relative;

    margin: 0 0 4rem;

    font-family: $font-family;
    font-size: 4.8rem;
    font-weight: bold;

    color: $secondary;

    &::after {
        content: "";

        position: absolute;
        bottom: -2rem;
        left: 0;

        width: 26rem;
        height: 1rem;

        background: $primary;
    }
}

h2 {
    margin-bottom: 3rem;

    font-size: 2.4rem;
    color: $primary;

    &::after {
        bottom: -1.2rem;

        width: 20rem;
        height: .6rem;

        background: $secondary;
    }
}

/*
 * Time
 */

time {
    font-size: 1.4rem;
    font-weight: normal;
    color: $secondary;
}

/*
 * Buttons
 */

.button {
    position: relative;
    overflow: hidden;

    display: inline-block;
    padding: 1rem 2.5rem;

    background: $secondary;

    font-size: 3.6rem;
    color: $white;

    &__inner {
        transition: transform .4s ease-in-out;

        position: relative;
        z-index: 1;

        display: inline-block;
    }

    .icon {
        display: inline-block;
        margin: 0 .5rem -.1rem 0;
    }

    &::after {
        transition: left .4s ease-in-out;

        content: "";

        position: absolute;
        bottom: 0;
        left: -6rem;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 6.2rem 0 0 6.2rem;
        border-color: transparent transparent transparent $primary;
    }

    &:hover {
        .button__inner {
            transform: translate3d(1rem, 0, 0);
        }

        &::after {
            left: 0rem;
        }
    }
}
