/*
 * Typography variables
 */

$font-family: Helvetica, Arial, "sans-serif";
$font-size: 1.8rem;

/*
 * Base font
 */
body,
p {
    font-family: $font-family;
    font-size: $font-size;
    color: $primary;
}

/*
 * Anchors
 */
a {
    text-decoration: none;
}

/*
 * Headings
 */
h1,
h2 {
    position: relative;

    margin: 0 0 4rem;

    font-family: $font-family;
    font-size: 4.8rem;
    font-weight: bold;

    color: $secondary;

    &::after {
        content: "";

        position: absolute;
        bottom: -2rem;
        left: 0;

        width: 26rem;
        height: 1rem;

        background: $primary;
    }
}

h2 {
    margin-bottom: 3rem;

    font-size: 2.4rem;
    color: $primary;

    &::after {
        bottom: -1.2rem;

        width: 20rem;
        height: .6rem;

        background: $secondary;
    }
}

/*
 * Time
 */

time {
    font-size: 1.4rem;
    font-weight: normal;
    color: $secondary;
}

/*
 * Buttons
 */

.button {
    transition: background .4s ease-in-out;

    position: relative;
    overflow: hidden;

    display: inline-block;
    padding: 1rem 1.5rem 1rem 6rem;

    background: lighten($secondary, 20%);

    border-bottom: .6rem solid $primary;

    font-size: 3.6rem;
    color: $primary;

    .icon {
        display: inline-block;
        margin: 0 .5rem -.1rem 0;
    }

    &::after {
        transition: left .4s ease-in-out;

        content: "";

        position: absolute;
        top: -3rem;
        left: -2rem;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 6rem 0 6rem 6rem;
        border-color: transparent transparent transparent $secondary;
    }

    &:hover {
        background: lighten($secondary, 15%);

        &::after {
            left: -1rem;
        }
    }
}
